<div class="container">
   <div class="flex">
    <div class="left">
      
    </div>
    <div class="right margin">
      <div class="title mb-5"><h1>SE CONNECTER</h1></div>
      <div class="field">
        <label for="username">Username</label><br>
        <input pInputText id="username" type="text" />
      </div>
      <div class="field">
        <label for="password">Password</label><br>
        <input pInputText id="password" type="password" />
      </div>
      <div class="flex">
        <p-button label="Connexion"></p-button>
        <div class="col-5 flex align-items-center justify-content-center">
          <a routerLink='/inscription'>
            Je n'ai pas de compte, m'inscrire
          </a>
        </div>
      </div>
    </div>
   </div>
</div>