<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>description</th>
        <th>prix</th>
        <th>rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <ng-template let-article pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <td class="mb-3">
                  <a routerLink="/articles">
                      <img src={{article.imgUrl}} [alt]="article.libelle" class="w-6 shadow-2" />
                  </a>
                </td>
             
                  <td class="mb-1">{{ article.libelle }}</td>
                  <td class="mb-1">{{ article.rating }}</td>
                  <td class="mb-1">{{ article.prix }}</td>
                  <td class="mb-1">{{ article.description }}</td>

          </div>
      </ng-template> -->
      <td>{{articles.libelle}}</td>
      <td>Bonjou</td>
      <td>Bonjou</td>
      <td>Bonjou</td>
      <td>Bonjou</td>
    </tr>
    </tbody>
  </table>