<div class="footer">
  <div class="new-letters">
    <app-new-letters></app-new-letters>
  </div>
  <div class="partznaire">
    <div class="flex">
      <div class="item"><h1>SATISFAIT OU REMBOUSSE</h1></div>
      <div class="item"><h1>RECLAMATION ET RETOUR GRATUIT</h1></div>
      <div class="item"><h1>PAIEMENT SECURISER</h1></div>
    </div>
    <div class="flex justify-content-center gap-8">
      <div class="logo-partenaire"><i class="pi pi-paypal"></i></div>
      <div class="logo-partenaire"><i class="pi pi-bitcoin"></i></div>
      <div class="logo-partenaire"><i class="pi pi-amazon"></i></div>
    </div>
  </div>
<div class="field grid">
  <div class="col-4 md:col-4 p-6">
    <p>Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi</p>
  </div>

  <div class="col-4 md:col-4 p-6">
    <p>Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi</p>
  </div>

  <div class="col-4 md:col-4 p-6">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur delectus omnis ratione. Quidem beatae necessitatibus optio, inventore cupiditate aperiam dolores.</p>
    <div class="lien-sociaux flex gap-4 mt-5">
      <div class="facebook"><i class="pi pi-facebook"></i></div>
      <div class="linkedin"><i class="pi pi-linkedin"></i></div>
      <div class="youtube"><i class="pi pi-youtube"></i></div>
      <div class="tiktok"><i class="pi pi-twitter"></i></div>
      <div class="whatsapp"><i class="pi pi-whatsapp"></i></div>
    </div>
  </div>
</div>
</div>
