<div class="footer">
<div class="field grid">
  <div class="col-4 md:col-4 p-6">
    <p>Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi</p>
  </div>

  <div class="col-4 md:col-4 p-6">
    <p>Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi</p>
  </div>

  <div class="col-4 md:col-4 p-6">
    <p>Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi Lhgjkezgeioetagdezhifeueghibhdbdhjdhu  sahigeuiegzop hgefiueiogezio hjgefiufeaoi</p>
  </div>
</div>
</div>
