
<p-menubar [model]="items">
    <ng-template pTemplate="start">
<!--        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />-->
      <div class="flex">
        <div class = "flex-1 flex align-items-center justify-content-center bg-indigo-800 font-bold text-gray-900 m-2 px-5 py-3 border-round">Notre Logo</div>
        <div class = "flex-1 flex align-items-center justify-content-center  m-2  ">Homme</div>
        <div class = "flex-1 flex align-items-center justify-content-center  m-2  ">Femme</div>
        
      </div>
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Chercher" class="w-full" />
    </ng-template>

</p-menubar>
<!-- <app-connexion></app-connexion> -->
