 <!-- <div class="card flex">
    <div class="card flex justify-content-start m-4">
        <p-button label="Ajouter" class="mr-2"><i class="pi pi-plus"
                style="font-size: 1rem"></i></p-button>
    </div>
</div>


<div class="card">
    <p-table #dt [value]="users" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nom','prenom','age','departement.designation']" selectionMode="single" [(selection)]="users"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h3 class="p-m-0">Tableau Des utilisateurs</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id_user">Id <p-sortIcon field="id_user"></p-sortIcon></th>
                <th pSortableColumn="nom">Name <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                <th class="px-2">	Âge  <p-columnFilter type="numeric" field="age" display="menu"></p-columnFilter></th>
                <th pSortableColumn="departement">Departement<p-sortIcon field="departement"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="item" let-user >
            <tr class="bg-900">
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td style="height: 20px;" >{{user.userId}}</td>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.age}}</td>
                <td>{{user.departement?.designation}}</td>
                <td>
                    <div class="card flex justify-content-center">
                        <p-button icon="pi pi-pencil" styleClass="p-button-primary" class="mr-3"></p-button>

                            <div class="card flex justify-content-center">
                                <p-confirmDialog #cd [style]="{width: '50vw'}">
                                    <ng-template pTemplate="header">
                                        <h3>Confirmer Suppression</h3>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                         <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                                        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button> 
                                    </ng-template>
                                </p-confirmDialog>
                                <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
                            </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div>
    
</div> -->


<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Tel</th>
            <th colspan="2">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td><b>{{user.userId}}</b></td>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.mail}}</td>
            <td>{{user.telephone}}</td>
            <p-button icon="pi pi-pencil" styleClass="p-button-primary" class="mr-3" [routerLink]="'edit/'+user.userId"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteUser(user)"></p-button>
        </tr>
    </ng-template>
</p-table>


