<div class="text-align mb-5 pb-5 pt-5">
    <div>
        <h1>Vous Rapprochez de e-Couture</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, nobis?</p>
    </div>
    <div>
        <form action="">
            <div class=" text-align">
                <input type="text" name="" id="mail" placeholder="Entrez votre e-mail ici">
                <input type="button" name="" id="envoie" value="Envoyer">
            </div><br>
            <div id="checkbox">
                <input type="checkbox" name="" id=""> Homme
                <input type="checkbox" name="" id=""> Femme
            </div>
        </form>
    </div>
</div>