<p-card [style]="{ width: '500px' }" header="Enregistrement des articles" class="m-5">
    <form [formGroup]="enregistrerForm" (ngSubmit)="enregistrer()" class="flex pr-5">
        <div class="left">
            <div class="form-group">
                <label for="image">Image :</label>
                <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*">
                <img [src]="imgUrl" alt="" height="100" *ngIf="imgUrl" class="mt-5">
              </div>
        </div>
        <div class="right">
            <div class="flex flex-column gap-2">
                <label htmlFor="libelle">Libelle : </label>
                <input class="p-inputtext-lg" pInputText id="nom" [style]="{height:'40px'}" formControlName="libelle">
    
                <label htmlFor="description">Description : </label>
                <input pInputText id="description" [style]="{height:'40px'}" formControlName="description" />
    
                <label htmlFor="couleur">Couleur : </label>
                <input pInputText [pKeyFilter]="blockSpace" [style]="{height:'40px'}" formControlName="couleur"/>
    
                <label htmlFor="prix">Prix : </label>
                <input pInputText [pKeyFilter]="blockSpace" [style]="{height:'40px'}" formControlName="prix"/>
    
                <label htmlFor="quantite">Quantité : </label>
                <input pInputText [pKeyFilter]="blockSpace" [style]="{height:'40px'}" formControlName="quantite"/>
    
                <div class="card flex justify-content-center">
                    <button pButton type="submit" icon="pi pi-check" iconPos="left" label="Enregistrer"></button>
                </div>
            </div>
        </div>
        
    </form>
</p-card>