<div class="detail">
  <div class="field grid">
    <div class="left col-8 md:col-8 p-2">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
      <img src="assets/img/coup-moyen-femme-noire-qui-dirige-petite-entreprise.jpg">
    </div>

    <div class="col-4 md:col-4 p-2">
      <div class="nom-article">
        <h1>Robe Volante</h1>
      </div>
      <div class="prix-article mt-3">
        <h5>25850 FCFA</h5>
      </div>
      <div class="prix-article mt-3">
        <h5>30800 FCFA</h5>
      </div>
      <div class="description-article">
        <p>Les pull on ete beaucoup demandé sur le marche en 2020 mais parmi tand autre celui-ci creer par le Styliste multinationnal Jiles Toure a imparter la communauté de la mode</p>
      </div>
      <div class="taille-article">
        <div class="flex">
          <div class="item rouge"></div>
          <div class="item bleu"></div>
          <div class="item noir"></div>
          <div class="item gris"></div>
          <div class="item maron"></div>
        </div>
        <div class="flex">
          <div class="text xs">XL</div>
          <div class="text s">S</div>
          <div class="text m">M</div>
          <div class="text l">L</div>
          <div class="text xl">XL</div>
          <div class="text xxl">XXL</div>
          <div class="text 3xl">3XL</div>
        </div>
      </div>
      <div class="precomander">
        <h2>Pre-Commander</h2>
      </div>
    </div>
  </div>
</div>
