<div class="flex container">
    <div class="side-bar">

        <div>
            <span class="logo">E-Couture</span>
        </div>
        <div class="card flex justify-content-center">
            <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
        </div>
    </div>
    
    <div class="right-content">
        <div class="navbar-dashboard">
            <div class="col-12 md:col-4">
                <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- sidebar.component.html
 <p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="true" [blockScroll]="true">
    <h2>Ma Sidebar</h2>
    <ul>
      <li><a routerLink="/accueil">Accueil</a></li>
      <li><a routerLink="/profil">Profil</a></li>
      <li><a routerLink="/parametres">Paramètres</a></li>
    </ul>
  </p-sidebar> 
  
  <button (click)="toggleSidebar()">Toggle Sidebar</button>-->