<div class="container">
    <h1>Qui se charge de la confection de vos vêtements ?</h1>
    <div class="card">
        <p-carousel [value]="articles" [numVisible]="3" [numScroll]="3" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-article pTemplate="item">
                <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                    <div class="mb-3">
                        <a routerLink="/articles">
                            <img src={{article.imgUrl}} [alt]="article.libelle" class="w-6 shadow-2" />
                        </a>
                    </div>
                    <div>
                        <h4 class="mb-1">{{ article.libelle }}</h4>
                        <h4 class="mb-1">{{ article.rating }}</h4>
                        <h4 class="mb-1">{{ article.prix }}</h4>
                        <h4 class="mb-1">{{ article.description }}</h4>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>