<div class="container">
    <div class="d-flex">
        <h1>Les plus commandées de la semaine</h1>
    </div>
    <div class="d-flex gap-5">
        <div class="card">
            <div class="card-title"></div>
            <div class="card-body">
                <img src="https://d17a17kld06uk8.cloudfront.net/products/F9RBWZI/74JQ6NCS-large.webp" alt="">
            </div>
            <div class="card-footer">
                <h2>Robe en pagne, poitrine ouverte</h2>
                <div class="d-flex">
                    <h4>4000</h4>
                    <h4>-10 %</h4>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-title"></div>
            <div class="card-body">
                <img src="https://d17a17kld06uk8.cloudfront.net/products/F9RBWZI/74JQ6NCS-large.webp" alt="">
            </div>
            <div class="card-footer">
                <h2>Robe en pagne, poitrine ouverte</h2>
                <div class="d-flex">
                    <h4>4000</h4>
                    <h4>-10 %</h4>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-title"></div>
            <div class="card-body">
                <img src="https://d17a17kld06uk8.cloudfront.net/products/F9RBWZI/74JQ6NCS-large.webp" alt="">
            </div>
            <div class="card-footer">
                <h2>Robe en pagne, poitrine ouverte</h2>
                <div class="d-flex">
                    <h4>4000</h4>
                    <h4>-10 %</h4>
                    <h4>50000</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<marquee behavior="" direction="" [style]="{'background-color':'blue', 'height': '30px', 'color':'white', 'padding':'5px'}">Bonne et heureuse semaine , 20% de reduction tous les blak-friday  Ne manquez pas cette opportunité @gmail.ecouture.ci</marquee>