

<p-card [style]="{ width: '800px' }" header="Enregistrement Atelier" class="m-5">
    <form [formGroup]="enregistrerAtelierForm" (ngSubmit)="enregistrer()" enctype="multipart/form-data" class="flex pr-5 gap-4">
        <div class="left">
            <div class="form-group">
                <label for="image">Image :</label>
                <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*">
                <img [src]="imgUrl" alt="" height="100" *ngIf="imgUrl" class="mt-5">
              </div>
              
        </div>
        <div class="right">
            <div class="flex flex-column gap-2">
                <label htmlFor="nomAtelier">Nom atelier : </label>
                <input class="p-inputtext-lg" pInputText  [style]="{height:'40px'}"
                    formControlName="nomAtelier">

                <label htmlFor="adresse">Adresse : </label>
                <input pInputText  [style]="{height:'40px'}" formControlName="adresse" />

                <label htmlFor="ville">Ville : </label>
                <input pInputText  [style]="{height:'40px'}" formControlName="ville" />
                
                <label htmlFor="description_atelier">Description : </label>
                <textarea rows="5" cols="30" pInputTextarea formControlName="descriptionAtelier"></textarea>

                <div class="card flex justify-content-center">
                    <button pButton type="submit" icon="pi pi-check" iconPos="left" label="Enregistrer"></button>
                </div>
            </div>
        </div>
    </form>
</p-card>