<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div class="flex">
      <div
        class="flex-1 flex align-items-center justify-content-center bg-indigo-800 font-bold text-gray-900 m-2 px-5 py-3 border-round"  (click)="goToHome()">
        C-C</div>
      <!-- <div class="flex-1 flex align-items-center justify-content-center  m-2  ">Homme</div>
      <div class="flex-1 flex align-items-center justify-content-center  m-2  ">Femme</div> -->

    </div>
  </ng-template>
</p-menubar>
<!-- <app-connexion></app-connexion> -->
<!-- 0556722780 -->