
<!-- <div class="container">
  <div style="display: flex; justify-content: 10rem;" routerLink="/index/articles">
    <div>
      <h1>Que peut-on trouver chez e-couture ?</h1>
    </div>
    <div style="text-align: center; background-color: rgb(46, 46, 94); margin-left: 50%; color: white;">
      <h1>Voir tous les précommandes</h1>
    </div>
  </div>
  <div class="field grid">
    <div class="col-4 md:col-4 mt-5" *ngFor="let index of [1, 2, 3]">
      <ng-container *ngTemplateOutlet="galleryTemplate"></ng-container>
    </div>
  </div>
</div>



<ng-template #galleryTemplate>
  <app-galery></app-galery>
</ng-template> -->

<div class="container">
  <div class="d-flex justify-content">
    <h1>Nos modèles</h1>
    <div class="btn-plus" (click)="goToArticles()">Voir les autres articles</div>
  </div>
  <div class="d-flex p">
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="" (click)="goToDetails()">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
        <div class="d-flex">
         <h4>4000</h4>
         <h4>-10 %</h4>
         <h4>50000</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
        <div class="d-flex gap">
         <h4>4000</h4>
         <h4>-10 %</h4>
         <h4>50000</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
        <div class="d-flex">
         <h4>4000</h4>
         <h4>-10 %</h4>
         <h4>50000</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
       <div class="d-flex">
        <h4>4000</h4>
        <h4>-10 %</h4>
        <h4>50000</h4>
       </div>
      </div>
    </div>
  </div>
  <div class="d-flex p">
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
       <div class="d-flex">
        <h4>4000</h4>
        <h4>-10 %</h4>
        <h4>50000</h4>
       </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
        <div class="d-flex">
         <h4>4000</h4>
         <h4>-10 %</h4>
         <h4>50000</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
        <div class="d-flex">
         <h4>4000</h4>
         <h4>-10 %</h4>
         <h4>50000</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title"></div>
      <div class="card-body">
        <img src="https://d17a17kld06uk8.cloudfront.net/products/M1VLAJK/XJDYQM9B-large.webp" alt="">
      </div>
      <div class="card-footer">
        <h2>Robe en pagne, poitrine ouverte</h2>
       <div class="d-flex">
        <h4>4000</h4>
        <h4>-10 %</h4>
        <h4>50000</h4>
       </div>
      </div>
    </div>
  </div>
</div>

